body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  color: #333;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #2c3e50;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left;
}

#gantt-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Mantener alineación a la izquierda */
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#gantt-scroll {
    width: 100%;
    max-height: 25rem; /* Área máxima de visualización de la tabla */
    overflow-x: auto; /* Scroll horizontal si se excede el ancho */
    overflow-y: auto; /* Scroll vertical si se excede la altura */
    border-radius: 0.5rem;
    background: #fff;
    box-sizing: border-box;
}

#gantt-table {
    border-collapse: collapse;
    width: max-content;
    text-align: center;
}

#gantt-table th, #gantt-table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    min-width: 3rem;
    text-align: center;
    white-space: nowrap;
}

#gantt-table th {
    background-color: #2c3e50;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

#gantt-table td {
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    color: #000;
}

.legend {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.cycle-counter, .simulation-status, .algorithm-used {
  font-size: 1.5em;
  color: #2c3e50;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 1rem;
}

.algorithm-used {
  margin-bottom: 20px;
}

#metrics-scroll {
  width: 100%;                  /* Usa todo el ancho disponible */
  max-height: 25rem;
  overflow-x: auto;             /* Scroll horizontal solo si se necesita */
  overflow-y: auto;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;  /* Alinea la tabla a la izquierda */
  background: #fff;
}

#metrics-table {
  border-collapse: collapse;
  width: max-content;          /* Solo lo necesario */
  text-align: center;
  margin: 0;                   /* Sin centrado */
}


#metrics-table th,
#metrics-table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  min-width: 3rem;
  white-space: nowrap;
}

#metrics-table th {
  background-color: #2c3e50;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

#metrics-table td {
  font-weight: bold;
  color: #000;
}

#metrics-average {
  font-size: 1.5em;
  color: #2c3e50;
  margin-top: 20px;
  text-align: left;
  padding-bottom: 1rem;
}

.metrics-table tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}
