<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>
      Simulador de algoritmos de calendarización y mecanismos de sincronización
    </title>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link href="/static/css/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="icon" href="/static/images/page-icon.png" type="image/png" />
    <script src="/static/js/index.js"></script>
  </head>
  <body>
    <h1>
      Simulador de algoritmos de calendarización y mecanismos de sincronización
    </h1>

    <div class="form-container">
      <form
        id="simulacion-form"
        onsubmit="event.preventDefault(); redirigirSimulacion();"
      >
        <div class="card">
          <label for="tipo-simulacion"
            ><strong>Escoge el tipo de simulación:</strong></label
          >
          <select id="tipo-simulacion" name="tipo-simulacion">
            <option value="scheduling">Calendarización</option>
            <option value="synchronization">Sincronización</option>
          </select>
        </div>
        <button class="main-button" type="submit">Escoger simulación</button>
      </form>
    </div>
  </body>
</html>
