<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Simulación - Diagrama de Gantt</title>
    <link rel="icon" href="/static/images/page-icon.png" type="image/png" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/simulation.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  </head>
  <body onload="initializeSimulation();">
    <div id="simulation-report">
      <h1>Resultado de la Simulación</h1>

      <!-- Diagrama de Gantt -->
      <div id="gantt-container" class="card">
        <h2>Diagrama de Gantt</h2>
        <!-- Ciclo Actual -->
        <div id="cycle-counter" class="cycle-counter"></div>
        <div id="simulation-status" class="simulation-status"></div>
        <div id="algorithm-used" class="algorithm-used"></div>
        <div id="quantum-info" class="quantum-info" style="display: none"></div>
        <div
          id="preemptive-info"
          class="preemptive-info"
          style="display: none"
        ></div>

        <div id="gantt-scroll">
          <table id="gantt-table"></table>
        </div>
        <div class="legend" id="gantt-legend"></div>
        <div id="gantt-order-btn" style="text-align: center; margin: 1.5rem 0">
          <button class="secondary-button" onclick="toggleGanttOrder()">
            Ordenar por PID
          </button>
        </div>
      </div>

      <!-- Métricas/Información -->
      <div id="metrics-panel" class="card">
        <h2>Métricas/Información</h2>
        <div id="metrics-scroll">
          <table id="metrics-table" class="metrics-table"></table>
        </div>
        <div class="metrics-sort-buttons">
          <button class="secondary-button" onclick="sortMetrics('pid')">
            Ordenar por PID
          </button>
          <button class="secondary-button" onclick="sortMetrics('arrivalTime')">
            Ordenar por AT
          </button>
          <button class="secondary-button" onclick="sortMetrics('burstTime')">
            Ordenar por BT
          </button>
          <button class="secondary-button" onclick="sortMetrics('priority')">
            Ordenar por Priority
          </button>
          <button class="secondary-button" onclick="sortMetrics('startTime')">
            Ordenar por Start
          </button>
          <button class="secondary-button" onclick="sortMetrics('endTime')">
            Ordenar por End
          </button>
          <button class="secondary-button" onclick="sortMetrics('waitingTime')">
            Ordenar por Waiting
          </button>
        </div>

        <div id="metrics-average" class="cycle-counter"></div>
      </div>
    </div>
    <!-- Navegación -->
    <div style="text-align: center; margin-top: 30px">
      <button class="main-button" onclick="resetScheduling();">
        Reiniciar Simulación
      </button>
      <button class="main-button" onclick="returnConfigurationScheduling();">
        Volver a Configuración
      </button>
      <button class="main-button" onclick="returnHome();">
        Volver a Inicio
      </button>
      <button class="main-button" onclick="downloadScreenshot()">
        Descargar Imagen
      </button>
    </div>

    <script src="/static/js/common.js"></script>
    <script src="/static/js/simulation.js"></script>
  </body>
</html>
