<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Simulador de Algoritmos de Calendarización</title>
    <link rel="icon" href="/static/images/page-icon.png" type="image/png" />
    <link href="/static/css/common.css" rel="stylesheet" />
    <link href="/static/css/scheduling.css" rel="stylesheet" />
  </head>
  <body onload="initializeScheduling();">
    <h1>Simulador de Algoritmos de Calendarización</h1>

    <form id="upload-form" enctype="multipart/form-data">
      <div class="card">
        <img src="/static/images/txt-icon.png" alt="Procesos" class="icon" />
        <div class="content">
          <label>Procesos:</label>
          <input type="file" id="procesos" name="procesos" accept=".txt" />
        </div>
        <div class="example"><strong>Ejemplo:</strong><br />P1, 8, 0, 1</div>
      </div>

      <div style="text-align: center; margin-top: 50px">
        <button type="button" class="main-button" onclick="uploadScheduling();">
          Subir Archivo
        </button>
      </div>
    </form>

    <script src="/static/js/alerts.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/scheduling.js"></script>
  </body>
</html>
